body, html{
    margin:0 !important;
    padding:0 !important;
}
.row {
    margin-right: 0px;
}
.icon-avatar img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.fa.fa-solid.fa-bell {
    color: #FF7506;
}

.icon-name p {
    line-height: 5px;
}
.xin-chao {
    font-weight: 100;
    font-size: 12px;
}
.icon-user-name {
    font-weight: 700;
    font-size: 16px;
}
.fa.fa-solid.fa-bell {
    margin-right: 10px;
}
.buton-bell {
    border: unset;
    background-color: unset;
}
.breadcrumb {
    background-color: unset;
}
.content-wrapper {
    height: auto;
}
.content-header {
    position: absolute;
    top: 0;
}
thead {
    background-color: #FF9138;
}

.card-body {
    border-radius: 10px;
}
.row {
    display: flex;
    justify-content: space-between
}
div.card {
    width: auto;
    height: auto;
    margin-left: 30px;
}