div.card {
    width: 1112px;
    height: auto;
    margin-left: 30px;
}

.align-content-end {
    right: -175px;
}

.fas.fa-circle.active {
    font-size: 12px;
    color: #34CD26;
}

.fas.fa-circle.inactive {
    font-size: 12px;
    color: #EC3740;
}

.button-add {
    width: 80px;
    height: 90px;
    background-color: #FFF2E7;
    color: #FF9138;
    border: unset;
}

thead {
    background-color: #FF9138;
}

.card-body {
    border-radius: 10px;
}
