

.align-content-end {
    right: -175px;
}

.fas.fa-circle.active {
    font-size: 12px;
    color: #34CD26;
}

.fas.fa-circle.inactive {
    font-size: 12px;
    color: #EC3740;
}

.button-add {
    width: 80px;
    height: 90px;
    background-color: #FFF2E7;
    color: #FF9138;
    border: unset;
}


.detail-right {
    background-color: white;
    border-radius: 10px;
    height: 547px;
}
.detail-left {
    background-color: white;
    border-radius: 10px;
}
.row {
    display: flex;
    justify-content: space-between
}
.num {
    border: 1.5px solid #D4D4D7;
    padding: 5px;
    border-radius: 8px;
}
.form-check-label {
    margin-left: 20px;
}